{% extends "users/base.html" %}

{% block head_content %}
<title>Forgram Sign Up</title>

{% endblock %}

{%block container %}

    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif%}


<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}

    <h5 class="text-muted ">

        <p class="text-center">Sign up to see photos and videos of your friends.</p>
    </h5>

    <div class="form-group">

        <input class="form-control" type="email" placeholder="Email address" name="email" required=True />
    </div>

    <div class="form-group">
        <input class="form-control" type="text" placeholder="First name" name="first_name" required=True />
    </div>

    <div class="form-group">
        <input class="form-control" type="text" placeholder="Last name" name="last_name" required=True />
    </div>

    <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" name="username" required=True />
    </div>

    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="password" required=True />
    </div>

    <div class="form-group">
        <input class="form-control" type="password" placeholder="Password confirmation" name="password_confirmation"
            required=True />
    </div>

    <button class="btn btn-primary btn-block mt-5" type="submit">Register</button>


</form>
{% endblock %}